p, li {
  font: 12pt georgia;
  width: 100%;
  line-height: 1.6;
}


li {
  margin-bottom: 8pt;
}
h1, h2, h3, h4 {
  width: 70%;
  font-family: gillsans;
}

text.figureLabel {
  font: 14pt gillsans;
  font-weight: bold;
}

text.scrub {
  cursor:col-resize;
/*  padding:4px 6px;
  text-align:center;
  line-height:1.5;
  background-color:hsla(60,50%,95%,0.8);
  box-shadow:0 0 4px hsla(0,0%,0%,0.3);
  border-radius:4px;*/
  font: 14pt gillsans;
}
text.scrub:hover { 
    fill: green; 
}
text.drag {
  cursor:col-resize;
	font: 14pt georgia;
	font-weight: bold;
}